---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/lorenzwalthert/gitignore-tidy
      rev: 0.1.2
      hooks:
          - id: tidy-gitignore

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
