# Tailscale
tailscale_auth_key: "your_tailscale_auth_key"

# Common role
ssh: true
ssh_user: "your_ssh_user"
ssh_port: your_ssh_port
ssh_password: "your_ssh_password"  # openssl passwd
ssh_public_key: "your_ssh_public_key"

ufw: true

docker: true

caddy: true
caddy_domain: "your_caddy_domain"
caddy_cloudflare_email: "your_cloudflare_email"
caddy_cloudflare_token: "your_cloudflare_token"

# Docker role
docker_user_uid: "your_docker_user_uid"
docker_user_gid: "your_docker_user_gid"
docker_tz: "your_docker_tz"

filebrowser: true
transmission: true
flame: true

pihole: true
pihole_password: "your_pihole_password"

jellyfin: true
watchtower: true
watcharr: true

duplicati: true
duplicati_password: "your_duplicati_password"

twitch_channel_points_miner_v2: true
twitch_channel_points_miner_v2_username: "your_twitch_username"
twitch_channel_points_miner_v2_password: "your_twitch_password"
twitch_channel_points_miner_v2_channels:
    - your_twitch_channels
    - your_twitch_channels

amule: true
registry: true

vikunja: true
vikunja_jwt_token: "your_token"

goatcounter: true
goatcounter_domain: "your_domain"
goatcounter_email: "your_email"
goatcounter_password: "your_password"
goatcounter_cloudflared_token: "your_token"