{
  "all": {
    "children": {
      "ssh": {
        "hosts": {
          "rpi": {
            "ansible_port":"",
            "ansible_host": "",
            "ansible_user": "",
            "ansible_password": "",
            "ansible_become_pass": ""
          }
        }
      },
      "docker": {
          "hosts": {
            "docker1": {
              "ansible_host": ""
            }
          },
          "vars": {
            "ansible_become": true,
            "ansible_become_pass": "",
        }
      }
    }
  }
}
