{
        acme_ca https://acme-v02.api.letsencrypt.org/directory
        email {{ caddy_cloudflare_email }}
        acme_dns cloudflare {{ caddy_cloudflare_token }}
}

https://flame.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9999
}

https://filebrowser.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9000
}

https://transmission.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9001
}

https://pihole.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9002
}

https://jellyfin.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9003
}

https://watcharr.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9004
}