{
        acme_ca https://api.buypass.com/acme/directory
        email {{ caddy_cloudflare_email }}
        acme_dns cloudflare {{ caddy_cloudflare_token }}
}

https://flame.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9999
}

https://filebrowser.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9000
}

https://transmission.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9001
}

https://pihole.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9002
}

https://jellyfin.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9003
}

https://watcharr.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9004
}

https://duplicati.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9005
}

https://twitch-miner.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9006
}

https://amule.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9007
}

https://registry.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9008
}

https://vikunja.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9009
}

https://goatcounter.{{ caddy_domain }} {
        reverse_proxy 127.0.0.1:9010
}