{
    "comment": "------------------------------------------------------------------------",
    "comment": "                               GENERAL                                  ",
    "comment": "------------------------------------------------------------------------",

    "domain": "example.com",

    "comment": "------------------------------------------------------------------------",
    "comment": "                                BASIC                                   ",
    "comment": "------------------------------------------------------------------------",

    "email_cloudflare_caddy": "example@example.com",
    "token_cloudflare_caddy": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",

    "user_systemd": "user",
    "group_systemd": "group",

    "user_ssh": "user",
    "password_ssh": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "pub_key_ssh": "/home/user/.ssh/id_rsa.pub",

    "tailscale_key": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",

    "comment": "------------------------------------------------------------------------",
    "comment": "                                 DOCKER                                 ",
    "comment": "------------------------------------------------------------------------",

    "duplicati_dashboard_user": "duplicati_dashboard",
    "duplicati_dashboard_password": "password",

    "mariadb_root_password": "password",
    "mariadb_user": "user",
    "mariadb_user_password": "password",

    "postgres_user": "user",
    "postgres_user_password": "password",
    "pgadmin_email": "example@example.com",
    "pgadmin_password": "password",

    "nextcloud_user": "nextcloud",
    "nextcloud_password": "password",

    "receive_email_ntfy" : "example@example.com",
    "smtp_email_ntfy" : "smtp.gmail.com:587",
    "user_email_ntfy" : "example@example.com",
    "password_email_ntfy" : "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "from_email_ntfy" : "example@example.com",

    "pihole_password": "password",

    "vaultwarden_user": "vaultwarden",
    "vaultwarden_password": "password",

    "seq_user": "username",
    "seq_password": "password",

    "mysql_user": "username",
    "mysql_password": "password",
    "mysql_root_password": "password",
    
    "semaphore_user": "semaphore",
    "semaphore_password": "password",
    "semaphore_admin_user": "username",
    "semaphore_admin_pass": "password",
    "semaphore_admin_email": "example@example.com",
    "semaphore_key_encryption": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "semaphore_cloudflared": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

}