{
  "_comment": "-----------------------------------------------",
  "_comment": "SSH CONFIG",
  "_comment": "-----------------------------------------------",
  "ssh_name": "<your-username>",
  "ssh_password": "<your-password>",
  "ssh_pub_key": "<your-key>",
  "ssh_prv_key": "<your-key>",
  "_comment": "-----------------------------------------------",
  "_comment": "TAILSCALE CONFIG",
  "_comment": "-----------------------------------------------",
  "tailscale_gpg": "https://pkgs.tailscale.com/stable/raspbian/bullseye.noarmor.gpg",
  "tailscale_list": "https://pkgs.tailscale.com/stable/raspbian/bullseye.tailscale-keyring.list",
  "_comment": "-----------------------------------------------",
  "_comment": "DOCKER CONFIG",
  "_comment": "-----------------------------------------------",
  "mariadb_root_password": "<your-password>",
  "mariadb_user": "<your-username>",
  "mariadb_user_password": "<your-password>",
  "vaultwarden_user": "<your-username>",
  "vaultwarden_password": "<your-password>",
  "duplicati_dashboard_user": "<your-user>",
  "duplicati_dashboard_password": "<your-password>",
  "homepage_domain": "<your-domain>",
  "webdav_user": "<your-user>",
  "webdav_password": "<your-password>"
}