[Unit]
Description=Monitor file for changes and send notifications
After=network.target

[Service]
User=root
Group=root
ExecStart=/bin/sh -c '/opt/cli/seq/seqcli ingest -i "/var/log/caddy/*.log" --json -m "Caddy (Reverse Proxy)" && rm -f /var/log/caddy/*.log && systemctl restart caddy'
Restart=on-failure

[Install]
WantedBy=multi-user.target