#!/bin/bash

# Set the name of the folder to be monitored to the argument provided
folder="/var/log/caddy"

# Monitor the folder for modifications and output the event type, file name,
# timestamp, and modified text for each modification
inotifywait -m -r -e modify "$folder" --format "%e %f %T" --timefmt "%Y-%m-%d %H:%M:%S" |
while read -r event filename timestamp
do
    # Check if the current event is a "MODIFY" event
    if [ "$event" == "MODIFY" ]; then
        # Get the full path of the modified file
        modified_file="$folder/$filename"

        # Read the modified lines from the file
        modified_lines=$(tail -n 1 "$modified_file")

        # Loop through the modified lines and process each line only if it contains a valid JSON object
        while read -r modified_line; do
            # Check if the line contains a valid JSON object
            if echo "$modified_line" | jq '.' >/dev/null 2>&1; then
                # Parse the JSON object and extract the necessary fields
                foreignip=$(echo "$modified_line" | jq -r '.request.remote_ip')
                proto=$(echo "$modified_line" | jq -r '.request.proto')
                method=$(echo "$modified_line" | jq -r '.request.method')
                url=$(echo "$modified_line" | jq -r '.request.host')
                uri=$(echo "$modified_line" | jq -r '.request.uri')

                # Log the extracted fields using seqcli
                /opt/cli/seq/seqcli log -l Information -m "$url" -p ForeignIP=$(echo $foreignip) -p Protocol=$(echo $proto) -p Method=$(echo $method) -p Url=$(echo $url) -p Uri=$(echo $uri) -p Service=Caddy
            fi
        done <<< "$modified_lines"
    fi
done