[Unit]
Description=Monitor file for changes and send notifications
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/scripts/caddy.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
