(log_common) {
  log {
    output file /var/log/caddy/{args.0}.access.log
  }
}

{
        auto_https disable_redirects
        acme_ca https://acme-v02.api.letsencrypt.org/directory
        email {{ email_cloudflare_caddy }}
        acme_dns cloudflare {{ token_cloudflare_caddy }}
}

http://portainer.{{ domain }} {
        redir https://portainer.{{ domain }}{uri}
}

https://portainer.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9000

        import log_common portainer
}

http://homepage.{{ domain }} {
        redir https://homepage.{{ domain }}{uri}
}

https://homepage.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9001

        import log_common homepage
}

http://duplicati.{{ domain }} {
        redir https://duplicati.{{ domain }}{uri}
}

https://duplicati.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9002

        import log_common duplicati
}

http://phpmyadmin.{{ domain }} {
        redir https://phpmyadmin.{{ domain }}{uri}
}

https://phpmyadmin.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9003

        import log_common phpmyadmin
}

http://pihole.{{ domain }} {
        redir https://pihole.{{ domain }}{uri}
}

https://pihole.{{ domain }} {
        redir / /admin

        ## reverse proxy
        reverse_proxy 127.0.0.1:9004

        import log_common pihole
}

http://vaultwarden.{{ domain }} {
        redir https://vaultwarden.{{ domain }}{uri}
}

https://vaultwarden.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9005

        import log_common vaultwarden
}

http://duplicati-dashboard-api.{{ domain }} {
        redir https://duplicati-dashboard-api.{{ domain }}{uri}
}

https://duplicati-dashboard-api.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9006

        import log_common duplicati-dashboard-api
}

http://duplicati-dashboard-web.{{ domain }} {
        redir https://duplicati-dashboard-web.{{ domain }}{uri}
}

https://duplicati-dashboard-web.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9007

        import log_common duplicati-dashboard-web
}

http://pgadmin.{{ domain }} {
        redir https://pgadmin.{{ domain }}{uri}
}

https://pgadmin.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9009

        import log_common pgadmin
}

http://ntfy.{{ domain }} {
        redir https://ntfy.{{ domain }}{uri}
}

https://ntfy.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9010

        import log_common ntfy
}

http://nextcloud.{{ domain }} {
        redir https://nextcloud.{{ domain }}{uri}
}

https://nextcloud.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9011

        import log_common nextcloud
}

http://seq.{{ domain }} {
        redir https://seq.{{ domain }}{uri}
}

https://seq.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9012
}

http://download.{{ domain }} {
        redir https://download.{{ domain }}{uri}
}

https://download.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9013
}

http://semaphore.{{ domain }} {
        redir https://semaphore.{{ domain }}{uri}
}

https://semaphore.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9014
}