{
        auto_https disable_redirects
        acme_ca https://api.buypass.com/acme/directory
        email {{ email_cloudflare_caddy }}
        acme_dns cloudflare {{ token_cloudflare_caddy }}
}

http://portainer.{{ domain }} {
        redir https://portainer.{{ domain }}{uri}
}

https://portainer.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9000
}

http://homepage.{{ domain }} {
        redir https://homepage.{{ domain }}{uri}
}

https://homepage.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9001
}

http://duplicati.{{ domain }} {
        redir https://duplicati.{{ domain }}{uri}
}

https://duplicati.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9002
}

http://phpmyadmin.{{ domain }} {
        redir https://phpmyadmin.{{ domain }}{uri}
}

https://phpmyadmin.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9003
}

http://pihole.{{ domain }} {
        redir https://pihole.{{ domain }}{uri}
}

https://pihole.{{ domain }} {
        redir / /admin

        ## reverse proxy
        reverse_proxy 127.0.0.1:9004
}

http://vaultwarden.{{ domain }} {
        redir https://vaultwarden.{{ domain }}{uri}
}

https://vaultwarden.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9005
}

http://duplicati-dashboard-api.{{ domain }} {
        redir https://duplicati-dashboard-api.{{ domain }}{uri}
}

https://duplicati-dashboard-api.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9006
}

http://duplicati-dashboard-web.{{ domain }} {
        redir https://duplicati-dashboard-web.{{ domain }}{uri}
}

https://duplicati-dashboard-web.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9007
}

http://webdav.{{ domain }} {
        redir https://webdav.{{ domain }}{uri}
}

https://webdav.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9008
}

http://pgadmin.{{ domain }} {
        redir https://pgadmin.{{ domain }}{uri}
}

https://pgadmin.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9009
}

http://ntfy.{{ domain }} {
        redir https://ntfy.{{ domain }}{uri}
}

https://ntfy.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9010
}

http://nextcloud.{{ domain }} {
        redir https://nextcloud.{{ domain }}{uri}
}

https://nextcloud.{{ domain }} {
        ## reverse proxy
        reverse_proxy 127.0.0.1:9011
}