base-url: "https://ntfy.{{ domain}}"
smtp-sender-addr: "{{ smtp_email_ntfy }}"
smtp-sender-user: "{{ user_email_ntfy }}"
smtp-sender-pass: "{{ password_email_ntfy }}"
smtp-sender-from: "{{ from_email_ntfy }}"